::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #424242;
}
::-webkit-scrollbar-thumb {
  background-color: #888888;
}

:root {
  --column-header-height: 68px;
  --column-close-input-height: 24px;
  --column-open-input-height: 12rem;
  --menu-closed-width: 60px;
  --expand-menu-header-height: 2rem;
}

body {
  width: 100vw;
  height: 100vh;
  user-select: none;
}
